# TripToN
GEMINI_API_KEY=
TRIPTON_ADMIN_LOGIN_ID=
TRIPTON_ADMIN_PASSWORD=
TRIPTON_DB_PASSWORD=

# SecondaryBook - Toss Payments
TOSS_SECRET_KEY=
TOSS_CLIENT_KEY=
SECONDARYBOOK_DB_PASSWORD=

# SecondaryBook - Kakao
KAKAO_REST_API_KEY=
KAKAO_MAP_JS_KEY=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# SecondaryBook - Naver
NAVER_API_CLIENT_ID=
NAVER_API_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# SecondaryBook - Mail
MAIL_USERNAME=
MAIL_PASSWORD=

# SecondaryBook - AWS S3
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_CLOUDFRONT_DOMAIN=

# SecondaryBook - Admin
ADMIN_LOGIN_CODE1=
ADMIN_LOGIN_CODE2=

# SecondaryBook - AES
AES_SECRET_KEY=
